.movie_page {
    height: 100%;
    background-color: black;
}

@media (max-width: 1024px) {
    .movie_page {
        height: 100lvh;

    }
}

@media (max-width: 768px) {
    .movie_page {
        height: 100%;

    }
}

@media (max-width: 480px) {
    .movie_page {
        height: 100%;

    }
}